import { describe, it, expect } from 'vitest';
import { solution } from './<%= day %>';

describe('Day <%= day %>', () => {
    it('works with sample input', () => {
        const input = 'sample input';
        expect(solution(input)).toBe(input);
    });
});

